.chrome-ring {
  position: absolute;
  border-radius: 50%;
  padding: 3px;
  animation-name: rotateSlow;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  pointer-events: none;
}

.chrome-ring-inner {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  mask: radial-gradient(farthest-side, transparent calc(100% - 3px), black calc(100% - 3px));
  -webkit-mask: radial-gradient(farthest-side, transparent calc(100% - 3px), black calc(100% - 3px));
  opacity: 0.6;
}
